*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
   width: 100%;
}
li{
    list-style: none;
}
/* Heading & Border Section Start */
header{
    
background: rgba(255, 144, 14, 0.10);
padding: 50px 240px;
   
}
nav{
    display: flex;
    padding-top: 0;
    justify-content: space-between;
}
.logo{
        color: var(--Dark-01, #131313);
        text-align: center;
        font-family: Work Sans;
        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal
}
ul{
    display: flex;
    
}
li{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 18px;
    padding-left: 30px;
    font-weight: 500;
    line-height: 26px;
}

.banner-img{
    width: 100%;
    border-radius: 8px;
}
.banner-heading{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    padding-top: 105px;
}
.bannar-peragrap{
    color: var(--Dark-03, #727272);
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        padding-top: 40px;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin: 50px 0 50px 335px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
     
}
/* Heading & Border Section End */
/* Features Style */

main{
padding: 50px 240px;
}
.feature-section{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  
}
/* '''''features-img''''' */
.feat-img-1, .feat-img-2{
        width: 200px;
        height: 200px;
        padding: 10px 0 ;
        border-radius: 8px;
        align-content: center;
}
/* '''''features-text''''' */
.features-img {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-content: center;
  
}
.features-text{
    margin-left: 30px;
    margin-top: 70px;

}
.feat-head{
    color: var(--Dark-03, #727272);
    font-size: 30px;
    font-weight: 500;
      
}
.feature-pera{
    color: var(--Dark-03, #727272);
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px;
}
.quick{
    color: var(--Dark-01, #131313);
    font-weight: 700;
}
.feat{
    color: var(--Dark-01, #FF900E);
    font-weight: 700;
}
.btn-primary-1 {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin: 50px 0 50px 335px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-left: 0;
    margin-top: 20px;
}

/* Love & Enjoy Style */
.Love-Enjoy{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-top: 100px;
    gap: 30px;
    margin-bottom: 150px;
}
.enjoy-img{
    width: 100%;
    height: 100%;
    position:relative;
}
.head-main{
    color: var(--Dark-01, #131313);
        font-size: 45px;
        font-weight: 700;
        padding: 15px 10px;
        position: relative;
       
}
.head-main::after{
        content: '';
        height: 70px;
        width: 5px;
        background-color: #FF900E;
        position: absolute;
        top: 23%;
        left: -22px;
}

.head-pera{
    color: var(--Dark-03, #727272);
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    padding: 10px 10px;
}
.head-pera-child{
    margin-left: 30px;
}
.pera-child{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 10px 15px;
    margin-top:20px ;
}
.pera-child .child{
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
       
}
.child-4{
    color: var(--Dark-03, #727272);
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
    padding: 5px 0;
}
.secondary-btn{
        width: 242px;
        height: 150px;
        border-radius: 8px;
        background: #FF900E;
        border: none;
        color: #FFF;
        font-size: 45px;
        font-weight: 800;
        line-height: 40px;
        position: absolute;
        margin: 746px 0 518px 434px;
}
.exprnc{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}
.some-fact{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.fact-pera{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}
.fact-box-4{
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
    text-align: center;
   
}
.box{
    width: 150px;
    height: 150px;
    margin-right: 70px;
    padding-top: 4%;
    border-radius: 8px;
    border: 1px solid #FF900E;
    transition: .5s;
}
.box:hover{
   
    transform: rotate(480deg);
}
.fact-img{
    width: 30px;
    height: 30px;
    
}
.number{
    color: var(--Dark-02, #424242);
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
}
.fact-text{
    color: var(--Dark-03, #727272);
    font-size: 15px;
    font-weight: 600;
    padding-top: 5px;
}
.sponspors{
    margin-top: 100px;
}
.sponsors-pera{
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    text-align: center;   
}
.sponsor-pera{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 20px;
}
.sponsor-img{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 90px;
}
.im-sp{
    width:100px;
    height: 50px;
}
footer{
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    margin-top: 60px;
}
.ftre{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 4.5%;
}

/* Responsive Css */
@media screen and (min-width: 320px) and (max-width:480px){
    nav ,ul{
        flex-direction: column;
        flex-wrap: wrap;
    }
        header, main {
            padding: 35px 0px;
        }
        .btn-primary{
                margin: 39px 0 37px 97px;
        }
        .banner-heading{
            padding-top: 35px
        }
        .feature-section, .Love-Enjoy, .sponspors{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
        }
        .fact-box-4{
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            gap: 40px;
            align-items: center;
        }
        .sponsor-img{
            display: grid;
            grid-template-columns: repeat(2, 2fr);
        }
        .enjoy-img{
            width: 100%;
            margin: 0 20px;
        }
        .secondary-btn
        {
                margin: 1308px 0 529px 32px;
                width: 220px;
                height:120px ;
                font-size: 39px;
        }
                .sponsor-img{
                    padding: 0 20px;
                }
        
}
@media screen and (min-width: 720px) and (max-width:1080px){
    nav, ul {
            flex-direction: column;
            flex-wrap: wrap;
            margin-left: -38px;
        }
         header,
         main {
             padding: 35px 0px;
         }
        .banner-heading {
            font-size: 55px;
            padding-top: 37px;
                 }
        .bannar-peragrap {
            font-size: 13px;
            line-height: 26px;
            padding-top: 20px;}

        .btn-primary{
        width: 150px;
        height: 58px;
        margin: 32px 0 44px 289px;
        font-size: 16px;
        }
    .btn-primary-1{
        width: 150px;
        height: 58px;
        font-size: 16px;
        }
        .feature-section {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-left: 149px;
            margin-right: 126px;
        }
.feature-section, .Love-Enjoy,
.sponspors {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }

.head-main::after {
    height: 66px;
    width: 25px;
    top: 11%;
}
element.style {}

.secondary-btn {
    width: 208px;
    height: 139px;
    color: #FFF;
    font-size: 42px;
    line-height: 36px;
    margin: 1680px 0 518px 272px;
}
}
